/* src/index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* responsive columns */
    gap: 20px; /* space between grid items */
    padding: 20px;
  }
  
  .grid-item {
    background-color: lightblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
  }
  
  .btn {
    padding: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: darkblue;
  }
  